body {
  font-family: 'Space Mono', monospace;
}

button:hover {
  background-color: steelblue;
}

.btn:hover {

}

.btn {
  margin-top: 20px;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 30px;
  border-radius: 10px;
}

.clearBtn {
  width: 120px;
  height: 120px;
}

.zeroBtn {
  width: 256px;
  height: 120px;
}

.equalsBtn {
  width: 120px;
  height: 256px;
}

.normalBtn {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.border {
  border: solid black 1px;
}

.calculatorBody {
  height: 800px;
}

.col-xs-2 {
  margin-left: 50px;
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.col-xs-7 {
  padding-right: 0px;
  margin-right: -18px;
  margin-left: 50px;
  padding-left: 0px;
}

/*.col-xs-6 {
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  margin-left: 0px;
}*/


