body {
  font-family: 'Space Mono', monospace;
}

button:hover {
  /*background-color: steelblue;*/
  outline: 0px;
}

.btn:focus {
  outline: 0px;
}

.btn:active:focus {
  outline: 0px;
}

.btn:active {
  outline: 0px;
}

.btn {
  margin-top: 20px;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 30px;
  border-radius: 10px;
  /*border: solid black 1px;*/
  box-shadow: black 4px 4px 4px -2px;
  outline: 0px;
}

.clearBtn {
  width: 80px;
  height: 80px;
}

.zeroBtn {
  width: 180px;
  height: 80px;
}

.equalsBtn {
  width: 80px;
  height: 180px;
}

.normalBtn {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.border {
  border: solid black 1px;
}

.calculatorBody {
  margin-top: 0px;
  height: 725px;
  background-color: grey;
  border-radius: 50px;
  box-shadow: black 4px 4px 20px 7px;
  border: solid grey 4px;
}

.col-xs-2 {
  margin-left: -14px;
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.col-xs-7 {
  padding-right: 0px;
  margin-right: 0px;
  margin-left: 102px;
  padding-left: 0px;
}

.col-xs-offset-3 {
  margin-left: 480px;
}

.row {
  margin-right: -15px;
  margin-left: -75px;
}

.menu {
  background-color: #FFF9D5;
  width: 90%;
  margin-left: 35px;
  margin-top: 15px;
  border-radius: 20px;
  height: 100px;
  border: solid grey 1px;
}

.metal.linear {
  /*width: 100px;*/
  /*font-size: 4em;
*/  /*height: 80px;*/
  /*border-radius: .5em;*/
  background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
    
    linear-gradient(180deg, hsl(0,0%,78%)  0%, 
    hsl(0,0%,90%) 47%, 
    hsl(0,0%,78%) 53%,
    hsl(0,0%,70%)100%);
}

.bottom {
  margin-bottom: 50px;
}

.col-xs-12 {
  margin-top: 20px;
  margin-bottom: 20px;
}